name: Forge Tests

on:
  push:
    branches: ["**"]

jobs:
  test:
    name: Run forge test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install JS dependencies (node_modules)
        run: |
          bun --version
          bun install

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Show versions
        run: |
          forge --version
          solc --version || true

      - name: Run tests
        run: |
          forge test -vvv
